@import 'variables';

*, :before, :after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: $f-sans;
	color: $c-accent;
}

body {
	margin: 0;
	background-color: $c-background;
}

h1 {
	text-align: center;
}

a {
	color: $c-accent;

	&.cta {
		@extend button;
		display: inline-block;
		text-decoration: none;
	}
}

code {
	font-family: $f-monospace;
}

main {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1em;
	background-color: $c-background;
	color: $c-accent;
}
