@import 'variables';

*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $f-sans;
  color: $c-dark;
}

body {
  margin: 0;
}

a {
  color: $c-accent;

  &.cta {
    @extend button;
    text-decoration: none;
  }
}

code {
  font-family: $f-monospace;
}

main {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
}