// fonts
$f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$f-monospace: Menlo, monospace;

// colours second version
$c-background: #07092E;
$c-accent: #4AA07A;
$c-accent-dark: #367559;
$c-accent-light: #8BC2AA;
$c-error: #B94F4F;
$c-error-dark: #5C2828;

// spacing
$s-hair: 1px;
$s-mini: .2em;
$s-small: .5em;
$s-medium: 1em;
$s-large: 2em;
