// fonts
$f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$f-monospace: Menlo, monospace;


// colours
$c-accent: #FD6C6C;
$c-dark: #232323;

// spacing
$s-small: .5em;
$s-medium: 1em;
$s-large: 2em;
