button, input[type=submit] {
  background-color: $green;
  border: $s-mini solid $green-dark;
  border-radius: $s-small;
  font: inherit;
  color: $blue;
  padding: $s-mini $s-medium;
  transition: background-color .2s;

  &:active {
    background-color: $green-light;
  }
}
