.cta-list {
	padding: 0;
	list-style: none;

	li {
		margin: $s-small 0;

		&:nth-child(odd) {
			background-color: $c-header;
		}
	}

	a {
		text-decoration: none;
		display: inline-block;
		padding: $s-medium;
		border-radius: $s-small;
		height: 100%;
		width: 100%;

		&:hover {
			background-color: $c-accent;
			color: $c-header;
		}
	}
}
