header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: $c-accent;

  button {
  	border: $s-mini solid $c-background;
  }

  img {
    height: 3em;
  }
}
