header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: $c-header;
	padding: $s-medium;
	margin-bottom: $s-medium;
	box-shadow: 0 -$s-medium $s-medium $s-medium #b1b1b1;

	@media (max-width: 560px) {
		flex-direction: column;

		.user {
			margin-top: $s-medium;
		}
	}

	img {
		height: 3em;
	}

	button {
		background-color: $c-header;
		border: $s-hair solid $c-accent;
		border-radius: $s-small;
		padding: $s-mini $s-medium;
		color: $c-accent;
	}
}
