.poll {
  max-width: 30em;
  margin: 0 auto;
  padding: 1em;

  &--option {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    label {
      font-size: .8em;
      margin-bottom: .5em;
    }

    input:not([type=submit]) {
      font: inherit;
      border-radius: $s-mini;
      padding-left: $s-small;
      border: $s-hair solid $c-border-input;
    }
  }

  &--vote {
    display: flex;
    flex-direction: column;
    margin: $s-small 0;

    label {
      display:inline-block;
      margin-bottom: $s-medium;
    }

    input {
      margin-right: $s-medium;
    }

    button {
      margin-top: $s-medium;
    }
  }

  &--delete {
    display: flex;
    flex-direction: column;
    margin: $s-small 0;
  }

  &--social {
    display: flex;
    flex-direction: row;
    margin: $s-small 0;

    a {
      width: 49%;
      text-align: center; 

      &:nth-child(odd) {
        margin-right: 2%;
      }
    }
  }

  &--link {
    margin: $s-small 0;
    float: right;

    input {
      padding: $s-small;
      font-size: 1em;
    }

    button {
      margin-left: $s-small;
    }
  }

  &--title {
    font-size: 1.75em;

    // &[contenteditable] {
    //   border: $s-hair solid currentColor;
    //   padding: $s-mini;
    //   border-radius: $s-hair;
    // }
  }

  &--advanced {
    display: flex;
  }
}
