.social {
	display: flex;
	flex-direction: column;
	margin: $s-small 0;

	&--item {
		display: flex;
		flex-wrap: wrap;

		* {
			margin: $s-mini;
			text-align: center;
			flex-grow: 1;
		}
	}

	&--url {
		font: inherit;
		padding: $s-small;
		border: $s-hair solid currentColor;
		border-radius: $s-small;
		font-size: inherit;
		color: inherit;
		background-color: inherit;
	}

	&--copy {
		flex-grow: 0;
	}
}
