.vote {
  max-width: 30em;
  margin: 0 auto;
  padding: 1em;

  &--options {
    display: flex;
    flex-direction: column;
    margin: $s-small 0;

    label {
      background-color: $c-accent-light;
    }

    &--container {
    	position: relative;
		  width: 20px;
		  height: 20px;
		  margin-right: 0.5em;
    }

    input, &--radio {
    	position: absolute;
		  width: 100%;
		  height: 100%;
		  left: 0;
    }

    &--radio {

    }

    

    button {
      margin-top: $s-medium;
    }
  }

  &--delete {
    display: flex;
    flex-direction: column;
    margin: $s-small 0;
  }
}
